<h1> this is to do page of templae </h1>
<!-- <ul>
  <li> item1 </li>
  <li> item2 </li>

  </ul> -->
<ul>
  {% for todo_item in all %}
    <li>{{todo_item.content}}</li>
    <form action="/deleteTodo/{{todo_item.id}}/" style = "display: inline;" method = "post">{% csrf_token %}>
      <!--  csrf_token is for security issues  -->
      <input type="submit" value = "delete">
      </form>

  {% endfor %}
</ul>
<form action="/addTodo/" method = "post">{% csrf_token %}
  <input type = "text" name = "content"/>
  <input type = "submit" value = "Add task"/>
</form>
